body{
	background-color: black;
}
h1{
	color: white;
	text-align: center;
}
/*styling circles*/

.circle{
	height: 150px;
	width: 150px;
	border: 2px solid white;
	border-radius: 150px;
	cursor:pointer;
	display: inline-block;

}
.light {
	height: 75px;
	width: 75px;
	background-color:#A0A0A0;
	border-radius: 75px;
}
#red{
		background-color: #F08080;

}
#green {
	background-color: #90EE90;
}
#go{
	color: white;
}

#yellow {
	background-color: #FFFFE0;

}
#blue {
	background-color: #ADD8E6;

} 
#result{
	height: 100px;
	width: 120px;
	border: 2px solid white;
	color: white;
}

#start{
	margin-left: 100px;
	color: white;
	border: 2px solid white;
	height: 100px;
	width: 100px;
	text-align: center;
	cursor:pointer;
	background-color: red;
	font-size: 20px;
	
}
#gameCanvas{
/*	margin: 0 10%;*/
	height: 590px;
	width: 1050px;
	border: 2px solid white;
	margin-top: 20px;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#cont{
	margin-top: 150px;
}
#resultDisplay{
	background-color: red;
	height: 590px;
	width: 1050px;

}